In [1]:
import pandas as pd
import numpy as np
from functools import reduce

UF = 34600.35

In [2]:
marzo = pd.read_csv(r'julio.csv',encoding='latin-1', sep=';')
marzo['Dias Trabajados'].fillna(0,inplace=True)
marzo['Dias Trabajados'] = marzo['Dias Trabajados'].astype(int)
marzo['RUT'] = marzo['RUT'].str.replace('.','')
marzo = marzo[['RUT','Nombre','Renta Imponible', 'Dias Trabajados']]

abril =  pd.read_csv('agosto.csv',encoding='latin-1', sep=';')
abril['Dias Trabajados'].fillna(0,inplace=True)
abril['Dias Trabajados'] = abril['Dias Trabajados'].astype(int)
abril['RUT'] = abril['RUT'].str.replace('.','')
abril = abril[['RUT','Nombre','Renta Imponible', 'Dias Trabajados']]
abril

mayo =  pd.read_csv('septiembre.csv',encoding='latin-1', sep=';')
mayo['Dias Trabajados'].fillna(0,inplace=True)
mayo['Dias Trabajados'] = mayo['Dias Trabajados'].astype(int)
mayo['RUT'] = mayo['RUT'].str.replace('.','')
mayo = mayo[['RUT','Nombre','Renta Imponible', 'Dias Trabajados']]
mayo

C:\Users\rolando.serrano\AppData\Local\Temp\ipykernel_27052\2586404070.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  marzo['RUT'] = marzo['RUT'].str.replace('.','')
C:\Users\rolando.serrano\AppData\Local\Temp\ipykernel_27052\2586404070.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  abril['RUT'] = abril['RUT'].str.replace('.','')
C:\Users\rolando.serrano\AppData\Local\Temp\ipykernel_27052\2586404070.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mayo['RUT'] = mayo['RUT'].str.replace('.','')

,RUT,Nombre,Renta Imponible,Dias Trabajados
0,18943366-2,VALENZUELA LEIVA IVETTE ANDREA,669719,30
1,19148693-5,VELIZ PEREZ CRHISTIAN EDUARDO,921960,30
2,17974006-0,PAREDES JIMENEZ NICOLE YANARA,784051,30
3,11465950-9,GUACTE PAREDES ALDO FERNANDO,781241,30
4,15960747-K,VERA NORAMBUENA CARLOS IGNACIO,2567274,30
...,...,...,...,...
2145,19976784-4,CHACON VALDES MIGUEL ANGEL,859699,28
2146,20728155-7,PALMA PIZARRO GABRIELA,980846,30
2147,11599787-4,SANCHEZ GONZALEZ JHULIANO GEORGE,622821,30
2148,15011299-0,ROJAS BRAVO MARIA ALEJANDRA,791520,30
2149,NaN,TOTALES,2864928891,0

In [3]:
abril.head()

,RUT,Nombre,Renta Imponible,Dias Trabajados
0,19148693-5,VELIZ PEREZ CRHISTIAN EDUARDO,675818,30
1,27601268-1,VERA BRITO CECILIA FERNANDA,3447518,30
2,17974006-0,PAREDES JIMENEZ NICOLE YANARA,620646,30
3,11465950-9,GUACTE PAREDES ALDO FERNANDO,655715,30
4,15960747-K,VERA NORAMBUENA CARLOS IGNACIO,2285654,30

In [3]:
dfs = [marzo,abril,mayo]
sueldos = reduce(lambda left, right: pd.merge(left,right,on='RUT'), dfs)
sueldos['RUT'] = sueldos['RUT'].str.replace(' ','')
sueldos['RUT'] = sueldos['RUT'].astype(str)
sueldos.rename(columns={'Renta Imponible_x':'1','Dias Trabajados_x':'dias 1','Renta Imponible_y':'2','Dias Trabajados_y':'dias 2','Renta Imponible':'3','Dias Trabajados':'dias 3'},inplace=True)
sueldos[['RUT','Nombre','1','dias 1','2','dias 2','3','dias 3']]

,RUT,Nombre,1,dias 1,2,dias 2,3,dias 3
0,18943366-2,VALENZUELA LEIVA IVETTE ANDREA,527384,24,690694,30,669719,30
1,19148693-5,VELIZ PEREZ CRHISTIAN EDUARDO,962617,30,964156,30,921960,30
2,17974006-0,PAREDES JIMENEZ NICOLE YANARA,664712,30,664712,30,784051,30
3,11465950-9,GUACTE PAREDES ALDO FERNANDO,618018,26,636762,27,781241,30
4,15960747-K,VERA NORAMBUENA CARLOS IGNACIO,2447935,30,2447935,30,2567274,30
...,...,...,...,...,...,...,...,...
1975,20025904-1,HERRERA RODRIGUEZ MILENKA DANAE,1125743,30,842340,25,1236743,30
1976,20728155-7,PALMA PIZARRO GABRIELA,815575,28,839193,30,980846,30
1977,11599787-4,SANCHEZ GONZALEZ JHULIANO GEORGE,622821,30,622821,30,622821,30
1978,15011299-0,ROJAS BRAVO MARIA ALEJANDRA,703270,30,703270,30,791520,30
1979,nan,TOTALES,2634550839,0,2688430307,0,2864928891,0

In [4]:
actualiza = pd.read_csv(r'../actualiza.csv', encoding='latin-1', sep=';', dtype={'Rut':str})
actualiza.rename(columns={'rutb':'RUT'},inplace=True)
actualiza['RUT'] = actualiza['RUT'].str.replace(' ','')

In [5]:
# abril = pd.read_csv('/content/drive/MyDrive/licencia/mutual/mutual.csv', encoding='latin-1', sep=';')
# abril.rename(columns={'rut':'RUT', 'DES_TIP_ATENC':'tipo'}, inplace=True)
# abril['RUT']= abril['RUT'].astype(str)

m = sueldos.merge(actualiza, on='RUT', how='inner')
#m.rename(columns={'RUT_PAC':'RUT','RUT':'rut'},inplace=True)
#m['RUT'] = m['RUT'].astype(str)
mutual = pd.read_csv('../mutual.csv', encoding='latin-1', sep=';')
mutual['RUT PAC'] = mutual['RUT PAC'].astype(str)
mutual['rut'] = mutual['RUT PAC'].str[:-1]
mutual['digito'] = mutual['RUT PAC'].str[-1:]
mutual['RUT'] = mutual['rut'] + "-" + mutual['digito']
mutualp = mutual.merge(m, how='inner', left_on='RUT PAC', right_on='RUT')
mutualp.to_csv('mutualraw.csv')

In [6]:
#sueldos = pd.read_csv('/content/drive/MyDrive/licencia/mutual/w.csv',encoding='latin-1',sep=';', dtype={'RUT':str, 'M_Pactado':float})

afp = {
    'CAPITAL AFP S.A.':'0.1144',
    'CUPRUM AFP':'0.1144',
    'HABITAT AFP':'0.1127',
    'PLANVITAL AFP':'0.1116',
    'PROVIDA AFP':'0.1145',
    'MODELO AFP':'0.1058',
    'UNO AFP S.A': '0.1069',
    'jubilado':'0'
}

In [8]:
#df.rename(columns={'trabajador':'NOMBRE','RUT':'rutb','tipo_n':'tipo','folio':'NUMERO'},inplace=True)

In [8]:
#df = sueldos.merge(actualiza, on='RUT', how='inner')
df = pd.read_csv(r'mutualraw.csv', encoding='latin-1', sep=';')
df.rename(columns={'RUT':'rutb','tipo_n':'tipo','folio':'NUMERO'},inplace=True)
df = df[['NOM PAC','RUT PAC','DES TIP ATENC','tipoContrato','dias','NUMERO','inicio','Afp','Salud','M_Pactado','1','dias 1','2','dias 2','3','dias 3']]
df.loc[1,'Afp'] = 'CUPRUM AFP'
df.rename(columns={'rutb':'RUT'},inplace=True)
df['promedio'] = df[['1','2','3']].mean(axis=1).round()
df['M_Pactado'] = df['M_Pactado'].str.replace(',','.')
df['M_Pactado'] = df['M_Pactado'].astype(float)
df['Afp'].fillna('jubilado',inplace=True)
df['AFPporcentaje'] = df['Afp'].apply(lambda x: afp[x])
df['AFPporcentaje'] = df['AFPporcentaje'].astype(float)
df.loc[df.Salud == 'FONDO NACIONAL DE SALUD', 'Salud Valor'] = (df.promedio * 0.07).round()
df.loc[df.Salud != 'FONDO NACIONAL DE SALUD', 'Salud Valor'] = (df.M_Pactado * UF).round()
df['AFPvalor'] = (df['promedio'] * df['AFPporcentaje']).round()
df['cesantia'] = (df['promedio'] * 0.006).round()
df['tributario'] = df['promedio'] - (df['AFPvalor'] + df['Salud Valor'] + df['cesantia']).round()
df.loc[(df.tributario  >= 752004.01) & (df.tributario <= 1671120.00), 'Impuesto'] = ((df['tributario'] * 0.04) - 30080.16).round()
df.loc[(df.tributario >= 1671120.01) & (df.tributario <= 2785200), 'Impuesto'] = ((df['tributario'] * 0.08) - 96924.96).round()
df['Impuesto'] = df['Impuesto'].fillna(0)
df['liquido'] = df['tributario'] - df['Impuesto']
df['base'] = df['liquido']

df['base'] = np.where(df['liquido'] >= 2588984,
                      60140, df['liquido'] / 30)

df['base']= df['base'].round()
df['base'] = df['base'].astype(int)
df['monto'] = df['base'] *  df['dias']
df['monto'].fillna(0,inplace=True)
df['monto'] = df['monto'].astype(int)
df.to_csv('mutualpago.csv')

In [19]:
matriz = pd.read_csv('matriz.csv', sep=';', encoding='latin-1')
matriz = matriz[matriz['IND_CTP'] == 'CTP']
matriz['RUT_PAC'] = matriz['RUT_PAC'].str.replace('000000','')
dfl = df['RUT'].str.replace('-','')
dfl = dfl.to_list()

matrizc = matriz[(~matriz['RUT_PAC'].isin(dfl))]
matrizc.to_csv('faltaron.csv')

In [ ]:
liq =